//- data comes here
-
    var header = '#about me'
    var imagePath = "asset/image/me.jpg"
    var myFullName = "Matthieu ROULAND"
    var myTitle = "Immunologist"
    var slogan = ` For people who truly, madly, deeply love coffee`
    var achievements = {
        title: 'achievement',
        content: 'My acheviements',
    }
    var coolStuff = {
        title: 'grab cool stuff',
        buttonList: [
            {
              url: 'https://github.com/MatthieuRouland/MatthieuRouland',
              icon: 'github',
              label: 'Click to visit the website project source on GitHub',
            }
        ]
    }
//- the view comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievements.title
    .about-me__content=achievements.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`icon-${button.icon}`)
//- don't forget that icon is the main prefix name for all the icon from ico-resume
